.quickStats {
  margin-top: 2em;
}
.quickStats-title {
  text-decoreation: underline;
  font-weight: bold;
}

.ActionMessage {
  color: #FF0000;
}

.ActionMessage a:link {
  color: #FF0000;
}
.ActionMessage a:visited {
  color: #FF0000;
}
.ActionMessage a:hover {
  color: #FF0000;
}
.ActionMessage a:active {
  color: #FF0000;
}
